
    <!--/navbar는 렌더 파셜로 처리-->
    <%= render :partial => 'navbar' %>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xtf1/v/t1.0-9/11866386_806119592838438_8899806261084694754_n.jpg?oh=c3e0f2a44bc0369d9402d4c9db1c4d23&oe=56461B0A&__gda__=1448461393_3aac75c7eec2d50456658fcfc6e37bed" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="background-color: #00ff00; color: blue;">멋쟁이 사자처럼 3기 START!</h1>
              <b><p style="font-color: blue;">설레던 오리엔테이션!! 그때 나는 저 구글 캠퍼스에 내가 있다는 것 만으로도 이미 뭔가 한거같고 된거같았다. 하지만 그것은 시작에 불과했다.</p></b>
              <p style="font-color: blue;"><a class="btn btn-lg btn-primary" href="#" role="button">보러가기</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="https://scontent-nrt1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11831788_806121462838251_5055783713924510737_n.jpg?oh=edfe2c83a8600a5bde9c4baaa5c28a1d&oe=563AC4D9" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="background-color: #00ff00; color: blue;">8월 2일 일요일 오프라인 강의!!</h1>
              <b><p style="font-color: blue;">오티때 소위 2인자 포스 폴폴내던 용철이형! 그 분이 진행했던 방송평가서비스 만들기는 분명히 같이 따라서 만들었음에도 왠지 내꺼인듯 내꺼아닌 내꺼같은 서비스였다.</p></b>
              <p style="font-color: blue;"><a class="btn btn-lg btn-primary" href="#" role="button">보러가기</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="https://scontent-nrt1-1.xx.fbcdn.net/hphotos-xtf1/t31.0-8/11834927_806121429504921_5638948351545502917_o.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="background-color: #00ff00; color: blue;">7월 31일 동국대학교 중간파티[갓두희 강림!!!]</h1>
              <b><p style="font-color: blue;">아, 역사적인 날이었다. 동국대학교 스물 네 명이 멋사3기 활동이 중반에 이르던 한 달 차, 모두 한 자리에 모였으며, 두희느님 강림의 피날레는 닭한마리를 동국멋사의 성지로 만들기에 충분했다.</p></b>
              <p style="font-color: blue;"><a class="btn btn-lg btn-primary" href="#" role="button">보러가기</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10982311_798024560314608_5938658506473307123_n.jpg?oh=d842567d1d2764c4b402bc168c92ae0a&oe=5653F8F2&__gda__=1446631832_5159274637d0054726e049c96c33603c" alt="Generic placeholder image" width="140" height="140">
          <h2>운영진1</h2>
          <p>운영진에 대한 소개, 설명, 별명 등 들어가고 운영진 11명 중에서 세명을 셈플로 출력. 운영진 간에 서로 길이만 맞추면 프론트앤드에 차지하는 길이상으론 얼마든지 써도 상관 없을듯.</p>
          <p><a class="btn btn-default" href="#" role="button">SNS 방문하기 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10982311_798024560314608_5938658506473307123_n.jpg?oh=d842567d1d2764c4b402bc168c92ae0a&oe=5653F8F2&__gda__=1446631832_5159274637d0054726e049c96c33603c" alt="Generic placeholder image" width="140" height="140">
          <h2>운영진6</h2>
          <p>운영진에 대한 소개, 설명, 별명 등 들어가고 운영진 11명 중에서 세명을 셈플로 출력. 운영진 간에 서로 길이만 맞추면 프론트앤드에 차지하는 길이상으론 얼마든지 써도 상관 없을듯.</p>
          <p><a class="btn btn-default" href="#" role="button">SNS 방문하기 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10982311_798024560314608_5938658506473307123_n.jpg?oh=d842567d1d2764c4b402bc168c92ae0a&oe=5653F8F2&__gda__=1446631832_5159274637d0054726e049c96c33603c" alt="Generic placeholder image" width="140" height="140">
          <h2>운영진11</h2>
          <p>운영진에 대한 소개, 설명, 별명 등 들어가고 운영진 11명 중에서 세명을 셈플로 출력. 운영진 간에 서로 길이만 맞추면 프론트앤드에 차지하는 길이상으론 얼마든지 써도 상관 없을듯.</p>
          <p><a class="btn btn-default" href="#" role="button">SNS 방문하기 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      
    <!-- 학교 detail page로 넘어갈 버튼-->  
    <% @univ_detail.each do |u| %>
      <div class="row featurette">
        <div class="col-md-3">
          <!-- img는 아마존 aws 연결되면 각 대학 로고파일 입력받아서 때려넣기 -->
          <img class="img-thumbnail" src="https://goo.gl/fE1bYo">
          <h2 class="featurette-heading"><%= u.univ_name %></h2>
          <p><a class="btn btn-sm btn-success" href="/home/univ_detail/<%= u.id %>" role="button">자세히 보기</a></p>
        </div>
      </div>
    <% end %>
    <!-- 학교 detail page로 넘어갈 버튼-->  

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!--/footer는 레이아웃으로 처리-->
    <script>
      alert("환영합니다! 멋쟁이 사자처럼 3기 커뮤니티입니다! 현재 공사중이므로 이용을 자제해주시기 바랍니다")
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
    
    
    
    
    
    
    
    <style>
      
      /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
      
    </style>
